<!-- Simple stress test that launches a TF server and a few clients. -->

<launch>
  <node name="static_tf" pkg="tf2_ros" type="static_transform_publisher"
    args="1 2 3 0 0 0 map odom" output="screen" required="true" />

  <!-- Server -->
  <node name="tf_service" pkg="tf_service"
        type="server" args="--num_threads 5" output="screen" respawn="true"
        respawn_delay="5" />

  <!-- Test node -->
  <test test-name="client_rostest_py" pkg="tf_service"
        type="client_rostest.py" />

</launch>
