<!-- Simple stress test that launches a TF server and a few clients. -->

<launch>
  <node name="static_tf" pkg="tf2_ros" type="static_transform_publisher"
    args="1 2 3 0 0 0 map odom" output="screen" required="true" />

  <!-- Server -->
  <node name="tf_service" pkg="tf_service"
        type="server" args="
          --num_threads 5
          --add_legacy_server
          --legacy_server_namespace /tf2_buffer_server
        "
        output="screen" required="true" />

  <!-- Test node -->
  <test test-name="client_rostest" pkg="tf_service"
        type="client_rostest" />

</launch>
